body {
	background-color: #222;
	font-size: 1.7em;
	color: #CCCCCC;
}

a:link,
a:focus,
a:visited {
	color: #CCCCCC;
	text-decoration: none;
}

a:hover {
-moz-text-shadow:0 0 10px #337AB7;
-webkit-text-shadow:0 0 10px #337AB7;
text-shadow:0 0 10px #337AB7;
}


.nav li {
	margin-right: 10px;
}

.island {
	min-height: 100vh;
	background-color: #222;
}

.sea {
	background-color: #CCCCCC;
	height: 30vh;
}

.beach {
	height: 20vh;
}

h3 {
	font-size: 6vh;
}

.subtitle {
	height: 14vh;
}

.content {
	min-height: 65vh;
}

.transition {
	height: 10vh;
}

.glyphicon-menu-down {
	font-size: 8vh;
}

#siteBody-hello-firstRow {
	margin-top: 20vh;
}

#siteBody-hello-secondRow {
	margin-top: 10vh;
}

#siteBody-hello-thirdRow {
	margin-top: 25vh;
}


#siteBody-aboutMe-firstRow,
#siteBody-aboutMe-secondRow,
#siteBody-aboutMe-thirdRow,
#siteBody-aboutMe-fourthRow {
	/*display: inline-block;*/
	margin-bottom: 15px;
}

#siteBody-aboutMe-secondRow img,
#siteBody-aboutMe-fourthRow img {
	/*float: right;*/

}

#siteBody-aboutMe-secondRow .message,
#siteBody-aboutMe-fourthRow .message {
	float: right;
}

#siteBody-aboutMe-firstRow img,
#siteBody-aboutMe-secondRow img,
#siteBody-aboutMe-thirdRow img,
#siteBody-aboutMe-fourthRow img {
	display: inline;
}

#siteBody-aboutMe-firstRow-msg,
#siteBody-aboutMe-secondRow-msg,
#siteBody-aboutMe-thirdRow-msg,
#siteBody-aboutMe-fourthRow-msg {
	display: inline;
	vertical-align: middle;
}

.message {
	display: inline-block;
	background-color: #CCCCCC;
	color: #222;
	padding: 15px;
	border-radius: 4px;
}



.panel {
	background-color: #CCCCCC;
	color: #222;
}

.panel a {
	color: #222;
}

.panel-title {
	background-color: #C6C6C6;
}

h4 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

hr {
	border-color: #949494;
	height: 1px;
}


#siteBody-experience-firstElem,
#siteBody-experience-secondElem {
	background-color: #CCCCCC;
	color: #222;
	border-radius: 4px;
	padding: 0;
}

.siteBody-experience-elemTitle {
	background-color: #C6C6C6;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px 4px 0 0;
}

.siteBody-experience-elemBody {
	padding: 10px 15px 0 15px;
}

.siteBody-experience-elemBody ul {
	padding-left: 20px;
}

#siteBody-portfolio-secondRow {
	margin-top: 20px;
}

.thumbnail {
	background-color: #CCCCCC;
}

#siteBody-portfolio-secondRow .btn-default {
	color: #222;
}

footer {
	background-color: #222;
}

#siteFooter-content {
	margin-top: 10px;
}

#siteFooter-transition {
	font-size: 3vh;
	margin-bottom: 10px;
}

/*
xs | <768
sm | >=768 <992
md | >=992 <1200
lg | >=1200

*/


/* Image`s sizes in 'aboutMe' block in portrait orientation */
@media (orientation: portrait) {
	#siteBody-aboutMe-firstRow img,
	#siteBody-aboutMe-secondRow img,
	#siteBody-aboutMe-thirdRow img,
	#siteBody-aboutMe-fourthRow img {
		display: inline;
		width: 17vw;
	}
}

/* Image`s sizes in 'aboutMe' block in landscape orientation */
@media (orientation: landscape) {
	#siteBody-aboutMe-firstRow img,
	#siteBody-aboutMe-secondRow img,
	#siteBody-aboutMe-thirdRow img,
	#siteBody-aboutMe-fourthRow img {
		display: inline;
		width: 17vh;
	}
}

/* xs-devices portrait orientation */
@media (max-width: 767px) and (orientation: portrait) {
	h1 {
		font-size: 9vw;
	}

	h2 {
		font-size: 7vw;
	}

	.nav {
		font-size: 5vw;
	}

	#siteBody-experience-firstElem{
		/*margin: 0 15px 0 15px;*/
	}

	#siteBody-experience-secondElem {
	/*margin: 15px 15px 0 15px;*/
	margin-top: 15px;
	}

	#siteBody-aboutMe-firstRow img,
	#siteBody-aboutMe-secondRow img,
	#siteBody-aboutMe-thirdRow img,
	#siteBody-aboutMe-fourthRow img {
		display: inline;
		width: 20vw;
	}
}

/* xs-devices landscape orientation */
@media (max-width: 767px) and (orientation: landscape) {
	h1 {
		font-size: 10vh;
	}

	h2 {
		font-size: 6vh;
	}

	.nav {
		font-size: 5vh;
	}

	#siteBody-hello-thirdRow {
		margin-top: 20vh;
	}
}

/* sm-devices portrait orientation */
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
	h1 {
		font-size: 8vw;
	}

	h2 {
		font-size: 6vw;
	}

	.nav li {
		margin-right: 0;
	}

	.nav {
		font-size: 2.15vw;
	}
}

/* sm-devices landscape orientation*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
	h1 {
		font-size: 9vh;
	}

	h2 {
		font-size: 7vh;
	}

	.nav {
		font-size: 3.3vh;
	}
}

/* md-devices portrait orientation */
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait) {
	h1 {
		font-size: 10vw;
	}

	h2 {
		font-size: 7vw;
	}

	.nav {
		font-size: 2vw;
	}
}

/* md-devices landscape orientation */
@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
	h1 {
		font-size: 10vh;
	}

	h2 {
		font-size: 5vh;
	}

	.nav {
		font-size: 2.5vh;
	}
}

/* lg-devices portrait orientation */
@media (min-width: 1200px) and (orientation: portrait) {
	h1 {
		font-size: 10vw;	
	}

	h2 {
		font-size: 7vw;
	}

	#siteBody-hello-thirdRow {
		margin-top: 30vh;
	}

	.nav {
		font-size: 2.2vw;
	}
}

/* lg-devices landscape orientation */
@media (min-width: 1200px) and (orientation: landscape) {
	h1 {
		font-size: 11vh;	
	}

	h2 {
		font-size: 5.5vh;
	}

	#siteBody-hello-thirdRow {
		margin-top: 25vh;
	}

	.nav {
		font-size: 3.5vh;
	}

	#siteBody-aboutMe-firstRow img,
	#siteBody-aboutMe-secondRow img,
	#siteBody-aboutMe-thirdRow img,
	#siteBody-aboutMe-fourthRow img {
		display: inline;
		width: 19vh;
	}

	#siteFooter-content {
		font-size: 3vh;
	}
}